Generar un array aleatorio de 100 elementos. Calcular la mediana correspondiente.

In [19]:
import numpy as np
random = np.random.randint(0,100,100)
random
np.median(random)

51.0

Recordar los ejercicios con funciones para cálculo de factorial y suma de serie de la Clase 02. Repetir ambos ejercicios, pero ahora utilizar las nuevas operaciones aprendidas con los ndarrays.

Escribir una funcion para calcular el factorial de un numero cualquiera.

In [108]:
def factorial(a):
    if a == 0:
        r = 1
    else:
        array = np.arange(1,abs(a))
        r = array.prod()*a
    return r

In [109]:
testA = factorial(5)
testA

120

In [110]:
testB = factorial(-4)
testB

-24

In [111]:
testC = factorial(0)
testC

1

Escribir una funcion para calcular la suma de una serie comenzando por un numero cualquiera y terminando en otro numero que debe ser mayor al primero

In [76]:
def sumatoria(a,b):
    if a > b:
        return("Los limites inferiores y superiores no se respetan")
    array = np.arange(a,b+1)
    return array.sum()

In [77]:
sum1 = sumatoria(0,10)
sum1

55

In [78]:
sum2 = sumatoria(0,100)
sum2

5050

In [81]:
sum3 = sumatoria(10,5)
sum3

'Los limites inferiores y superiores no se respetan'

En este link se provee un archivo con los resultados de la Encuesta de Sueldos de Openqube de Febrero 2020 (https://sueldos.openqube.io/encuesta-sueldos-2020.02/ ), Calcular y comparar media y mediana de los sueldos netos.

In [39]:
import pandas as pd
datos = pd.read_excel(r'C:\Users\Jose\Desktop\PyProjects\SalariosOpenqube.xlsx', na_values = [0], usecols = "AW")
# Primero tuve que convertir toda la columna a numeros, habia algunos elementos escritos como texto.
datos

      Salario mensual NETO (en tu moneda local)
0                                       43000.0
1                                       63000.0
2                                      127000.0
3                                      102000.0
4                                      106000.0
...                                         ...
6410                                    97000.0
6411                                    71000.0
6412                                    45753.0
6413                                       72.0
6414                                    65000.0

[6415 rows x 1 columns]

In [40]:
datos['Salario mensual NETO (en tu moneda local)'].median()

76000.0

In [42]:
datos['Salario mensual NETO (en tu moneda local)'].mean()

19309452.112037756